/* Error: Undefined mixin.
 *    ,
 * 21 |     @include corners;
 *    |     ^^^^^^^^^^^^^^^^
 *    '
 *   sass\_base.scss 21:5  @use
 *   sass\style.scss 4:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 21 \2502      @include corners;\a    \2502      ^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\_base.scss 21:5  @use\a   sass\\style.scss 4:1   root stylesheet";
}
