@use 'mixins' as *;

body {
    margin: 0;

}
main {
    margin: 3vw 5vw;
    background-color: pink;
    border-radius: $radius;
    border: 4px;
    border-style: dotted;
    border-color: plum;
}


.textbox {
    @include textbox;
    background-color: lightpink;
    border-color: plum;
    border-radius: 15px;
    border-style: dotted;
    border: 4.5px;
}