@use 'mixins' as *;

body {
    margin: 0;

}
main {
    margin: 10vw 40vw;
}
.button {
    @include button;
}
.button-alt {
    @include button;
    background-color: pink;
}
.button-outline {
    @include button;
    background-color: none;
    border: 2px solid;
    color: unset;
}

.textbox {
    @include textbox;
    background-color: lightpink;
    border-color: pink;
    border-radius: 15px;
    border-style: dotted;
    border: 4.5px;
}