@use 'mixins' as *;

body {
    margin: 0;
    background-color: rgb(201, 181, 224);


}
main {
    margin: 3vw 7vw;
    background-color: lightpink;
    border: 8px;
    border-style: solid;
    border-color: rgb(201, 181, 224);
    border-radius: 15px;
}





