@use 'mixins' as *;

body {
    margin: 0;
    background-color: rgb(201, 181, 224);


}
main {
    margin: 3vw 3vw;
    background-color: lightpink;
    border: 4px;
    border-style: dashed;
    border-color: plum;
    border-radius: 15px;
}





