

@mixin border {
  border-radius: 15px;
    border: 4px;
    border-style: dashed;
    border-color: var(--color_blue);
    text-align: center;
    margin-bottom: 20px;
}

.rounded {
  @include border;
}

