

@mixin textbox {
    background-color: var(--color_light_pink);
    border-color: var(--color_pink);
    border-radius: 15px;
    border-style: dotted;
    border: 4.5px;
    text-align: center;
}

.textbox {
    @include textbox;
}