

@mixin textbox {
    background-color: var(--color_light_pink);
    border-color: var(--color_pink);
    border-radius: $radius;
    border-style: dotted;
    border: 4.5px;
    text-align: center;
}