

@mixin textbox {
    background-color: var(--color_plum);
    border-color: var(--color_blue);
    border-radius: 7px;
    border-style: solid;
    border: 5px;
    text-align: center;
    padding: 10px;
    margin-top: 0;

}

.textbox {
    @include textbox;
}