@mixin parabox {
    padding: 20px;
    background-color: var(--color_blue);
    margin-bottom: 10px;
    border-radius: 15px;
    border: 4px;
    border-style: dashed;
    border-color: var(--color_plum);

}

.parabox {
    @include parabox;
}