:root {
    --font_sans: Verdana, sans-serif;
    --font_serif: Tahoma, sans-serif;
    --color_blue: rgb(151, 158, 211);
    --color_pink: rgb(240, 124, 124);
    --color_light_pink: rgb(238, 155, 155);
    --color_soft-orange: rgb(230, 177, 118);
    --color_plum: rgb(164, 127, 189);

}